<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>
  <div class = "navbar row">
    <a href = "/"><h2 >Artists</h2></a>
    <a href = "/albums"><h2>Albums<h2></a>
    <a href = "/songs"><h2>Songs<h2></a>
  </div>
</body>
