<head>
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>
  <div class = "navbar row">
    <h2> Artists <h2>
    <h2 class = "navbar"> Albums <h2>
    <h2 class = "navbar"> Songs <h2>
  </div>
</body>
