<%- include('partials/navbar') %>
<h1>Albums</h1>

<% albums.forEach((album) => { %>
   <div class = "item row">
     <div class = "picture"></div>
     <div class = "column">
       <h2><%= album.title %></h2>
     </div>
   </div>
<% }) %>
