<%- include('partials/navbar') %>
<h1><%= artist.name %><h1>

<% albums.forEach((album) => { %>
  <div class = "item row">
    <div class = "picture"></div>
    <div class = "column">
       <p>title: <%= album.title%> </p>
       <p>Genre:</p>
    </div>
  </div>
<% }) %>
