<head>
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>
  <%- include('partials/navbar') %>
  <h1> Artists </h1>
  <div class = "artist row">
    <div class = "picture"></div>
    <div class = "column">
      <h2>Aretha Franklin</h2>
      <div class = "row">
        <p>Albums: 4<p>
        <p>Genre: Soul</p>
      </div>
    </div>
  </div>
<body>
