<%- include('partials/navbar') %>
  <h1>Artists</h1>

  <% artists.forEach((artist) => { %>
  <div class = "artist row">
    <div class = "picture"></div>
    <div class = "column">
      <h2><%= artist.name %></h2>
      <div class = "row">
        <p>Albums: #<p>
        <p>Genre: <%= artist.genre %></p>
      </div>
    </div>
  </div>
<% }) %>
